bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
/src/FablishInterop/Models.g.fs
/.paket/Paket.Restore.targets
/src/Aardvark.Service.Demo/*.TMP
/src/Examples/00 - Silvia/11 - Treeview with Versions/.vs/10 - Treeview/v14/*.suo
